<footer>
 
	<p>Derechos reservados</p>
	Dirección: Ciudad Universitaria - Colombia - Suramérica<br>  
    Horario de atención al público<br> 
    8:00 a.m. a 12:00 m. y  de 1:00 p.m. a 5:30 p.m. 
    de lunes a jueves, Viernes de 7:00 a.m. a 12:00 m. y 1:00 p.m. a 4:00 p.m. 
    <br><strong>Webmaster:Luis Diaz</strong> 

</footer>
<script src="js/jquery.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body> 

</html>