{{>header}}

<h4>
{{resultadoRegistrarAspirante}}
</h4> 
  <form action="/Inscribirse" method="get">

     <button class="btn btn-dark">Regresar a Inscripción</button>

 </form>
  <div>
    <form action="/salir" method="get">
       <button class="btn btn-secondary">Salir</button>
    </form>
  </div>

{{>footer}}