{{>header}}
<h3>
Resultado de la operacion: {{resultadoRegistrarUsuario}}
</h3> 
  <div>
    <form action="/salir" method="get">
       <button class="btn btn-secondary">Salir</button>
    </form>
  </div>
{{>footer}}

